{% autoescape None %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="static/icons/192.png">
    <!-- ios -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="static/icons/80.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/icons/152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/icons/180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="static/icons/167.png">

    <link href="static/favicon.ico" rel="shortcut icon">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">

    <title>Wavemeter</title>

</head>
<body>
    <nav>
        <!-- <a href="#menu"><img src="static/menu.svg"></a> -->
        Wavemeter
        <!-- <a href="#settings"><img src="static/settings.svg"></a> -->
    </nav>
    <div class="container">
        {% for channel in channels %}
            <div>
            {% if "label" in channel %}
                <div class="label">{{channel["label"]}}:</div>
            {% else %}
                <div class="label">Channel {{channel["i"]+1}}:</div>
            {% end %}
                <div id='wl{{channel["i"]}}' class="data"></div>
            </div>
        {% end %}
    </div>
    <div id="modal">
        <div>
            <h1>Disconnected</h1>
            <p>Trying to reconnect...</p>
        </div>
    </div>

    <script src="static/jquery-3.1.1.min.js"></script>
    <script src="static/d3.v4.min.js"></script>
    <script>
        var precision = {{precision}}; // number of digits config from the server
        var data = {{wavelengths}};
        var channels = {{channels}};
    </script>
    <script src="static/app.js"></script>
</body>
</html>
